.roamjs-heatmap .legend-0 {
    fill: #EBEDF0;
  }
  .roamjs-heatmap .legend-1 {
    fill: #C6E48B;
  }
  .roamjs-heatmap .legend-2  {
    fill: #7BC96F;
  }
  .roamjs-heatmap .legend-3 {
    fill: #239A3B;
  }
  .roamjs-heatmap .legend-4 {
    fill: #268339;
  }
  .roamjs-heatmap .legend-5 {
    fill: #052b0c;
  }
